
@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "gtable"
    };
}
<div>
    @Html.ActionLink("Добавить товар", "CreateGoods", null, new { @class = "btn btn-primary" })
</div>
<div>
    @Html.ActionLink("Назад", "Index", "Home", null, new { @class = "btn btn-light w-25" })

    @for (int i = 0; i < ViewBag.PagesCount; i++)
    {

        @Ajax.ActionLink($"{i + 1}", "GoodsTable", "Goods", new { id = i + 1 }, options, new { @class = "btn btn-primary"})
    }


</div>
<div id="gtable">
    @{Html.RenderAction("GoodsTable");}
</div>
